.analytics-container {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; /* Center align the text */
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff; /* Set the heading color to white */
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

input[type="text"] {
  flex: 1;
  padding: 15px;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.result a {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  word-break: break-all;
}

.result a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Adjust margin for smaller screens */
     color: #fff; /* Set the heading color to white */
  }

  form {
    flex-direction: column;
  }

  input[type="text"],
  button {
    width: 100%;
    max-width: none;
    margin: 5px 0;
    font-size: 1rem;
  }
  .result p {
    font-size: 1.2rem;
    color: #fff;
  }
  .result a {
    font-size: 1.1rem;
    color: #fff;
  }
}
